table{
    overflow-x: visible;
    
}

.styled-table {
     border-collapse: collapse;
     margin: 25px 0;
     font-family: sans-serif;
     min-width: 400px;
     box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
     font-size: 13px;
 }

 .styled-table thead tr {
     background-color: #eeef20;
     color: #000;
     text-align: left;
 }

 .styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: center;
}

.styled-table tbody tr {
     border-bottom: 1px solid #dddddd;
 }
 
 .styled-table tbody tr:nth-of-type(even) {
     background-color: #f3f3f3;
 }
 
 .styled-table tbody tr:last-of-type {
     border-bottom: 2px solid #009879;
 }

 .styled-table tbody tr.active-row {
     font-weight: bold;
     color: #009879;

 }

 .container {
    max-width: 1318px;
    margin-top: 56px;
}